.signinContainer {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #0C0D0D;
    color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
}

.signinWrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

.signinImageWrapper {
    background-image: url('../images/bgimage.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 600px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 80px;
    overflow: auto;
}