.transactionContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;  
    gap: 40px;  
}

.transactionExpWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.arrowDown {
    transform: rotate(180deg);
}

.formContainer {
    flex: 1;
}

.transExpLog h3{
    font-size: 38px;
    font-weight: 400;
    color: #fafafa;
    margin: 0;
}

.transExpLog p{
    font-size: 16px;
    color: #fafafa66;
}

.inExContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.incomeDetails,
.expenseDetails {
    display: flex;
    width: 300px;
    height: 120px;
    background-color: #171719;
    border-radius: 40px;
    gap: 30px;
    text-align: center;
}
.arrow,
.arrowDown {
    background-color: #0EF387;
    width: 43px;
    height: 43px;
    border-radius: 13px;
    margin-top: 39px;
    margin-left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.incomeWrap,
.expenseWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.text{
    font-size: 16px;
    color: #fafafa80;
    margin: 0;
}
.amount {
    font-size: 24px;
    color: #fafafa;
    margin: 0;
}
.expenseContainer {
    width: 630px;
    height: 302px;
    background-color: #171719;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
}
.expTitle,
.expListItems {
    font-size: 16px;
    color: #fafafa80;
}
.expListItems {
    list-style: none;
    display: flex;
    gap: 10px;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

.expCategory {
    flex: 1;
}
.expList {
    flex: 1;
}




