.homePageBody {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #0C0D0D;
    color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
}

.homePageContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.homePageImageWrapper {
    background-image: url('../../images/bgimage.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 600px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 80px;
    overflow: auto;
}

.homeContentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.homePageInfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.21px;
    color: #8a7f7f;
}

.homePageSlogan {
    font-size: 56px;
    font-weight: 400;
    line-height: 64.85px;
    margin: 0;
    padding-top: 10px;
}

.homePageSlogan span {
    font-size: 56px;
    font-weight: 400;
    line-height: 64.85px;
    color: #0EF387;
    text-decoration: underline;
}

.homePageText {
    font-size: 16px;
    font-weight: 400;
    color: #5c5555;
}

.homeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.homePageBtn {
    margin-top: 20px;  
}

.signUp:hover,
.signIn:hover {
    background-color:  #0EF387;
}

.signUp {
    margin-right: 30px;
}

.signUp,
.signIn {
    border-radius: 40px;
    padding: 14px 44px 14px 44px;
    width: 145px;
    height: 47px;
    font-weight: 400;
    font-size: 16px;
    border: none;
}

.homePageImg {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.homePageUsers {
    margin: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 50px;
    width: 210px;
}

.user {
    font-weight: 400;
    font-size: 28px;
    color: #fafafa;
    margin: 0;
}

.userText {
    font-size: 16px;
    color: #706868;
}

.homePageImg img {
    width: 48px;
    height: 48px;
    border-radius: 40px;
    border: 2px;
}

