.navbar {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #fafafa;
    gap: 8px;
    background-color: transparent;
    border-bottom: 1px solid #fafafa33;
}

.logo {
    width: 27px;
    height: 16px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.94px;
    height: 26px;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    gap: 8px;
}
.navLink:hover {
    color: #0EF387;
}