.transNavContainer {
    background-color: #0C0D0D;
}

.navbar {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: #fafafa;
    gap: 8px;
    background-color: transparent;
    border-bottom: 1px solid #fafafa33;
}

.logo {
    width: 27px;
    height: 16px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.94px;
    height: 26px;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    gap: 8px;
    margin-left: 50px;
}

.navBtnContainer {
    display: flex;
    gap: 20px;
}

.navBtn {
    border: 1px solid #fafafa66;
    border-radius: 30px;
    width: 125px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
    background-color: inherit;
}
.btnLink {
    text-decoration: none;
    color: #fafafa;
}
.navBtn:hover {
    background-color: #0EF387;
}
.btnLink:hover {
    color: #0C0D0D;
}